nav{
	height: 60px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	background-color: black;
	z-index: 1;
}

.elementoNavBar{
	width: 50%;
}

#titolo{
	font-size: calc(1.5rem + 1.25vw);
	display: flex;
	align-items: center;
}

#menu{
	width: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: calc(0.75rem +1.5vw);
}

a{
	text-decoration: none;
	color: white;
}

a:focus{
	color: white;
}
