<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: headerfiles('pageTitle.erroreConferma')"></head>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/erroreConferma.css}"/>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<section>
<img th:src="@{/images/404.svg}"></img>
<h1 th:text="#{erroreConferma}" id="errore-text">La prenotazione e' scaduta...</h1>
</section>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>