<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.gestorecampo})"></head>
<head>
<link th:href="@{prenotazione.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section>
    	<form th:action="@{/campo/save}" 
        	method="POST"
           	enctype="multipart/form-data">
        <!--Per dire al browser che è una form che contiene un file upload-->
        	<!--contenitore informazioni prenotazione-->
	        <div id="contenitorePrenotazione" class="prenotazioneOrizzontale">
        	    <!--contenitore informazioni prenotazione-->
    	        <div class="prenotazioneVerticale contenitore">
            	    <!--testo prenotazione-->
                	<div id="titoloPrenotazione" class="infoPrenotazioni">AGGIUNGI CAMPO</div>
                	<div id="informazioniPrenotazioni" class="infoPrenotazioni">aggiungi l'immagine del campo</div>
                	<!--informazioni prenotazione-->
                	<div id="riepilogoPrenotazione">
                    	<input type="file" name="image1" accept="image/png, image/jpeg"/>
                    	<input type="file" name="image2" accept="image/png, image/jpeg"/>
                    	<button type="submit">Salva</button>
                	</div>
            	</div>
        	</div>
   		</form>
    </section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>