<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.home})"></head>
  <head>
    <link th:href="@{/css/homePage.css}" rel="stylesheet">
    <link th:href="@{/css/mediaIndex.css}" rel="stylesheet"/>
  </head>
  <body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <section>
        <div id="sezioneImmagine">
            <img th:src="@{/images/calcio.png}" />
                <a th:href="@{/prenotaUnCampo}" href="prenotazione.html" id="prenotaUnCampo">
                <a th:href="@{/campi}" id="prenotaUnCampo">
                    PRENOTA UN CAMPO
                </a>
        </div>
        <div id="sezioneCentrale">
             <div th:text="#{messaggioDiBenvenuto}" id="scrittaCentrale">Uno dei migliori centri sportivi di Futsal di Roma sud.</div>
             <div id="scrittaCentrale">Uno dei migliori centri sportivi di Futsal di Roma sud.</div>
         </div>
         <div id="sezioneFinale">
            <div id="sezioneInformazioni">
                <div id="imgCircolo" class="informazione">
                    <img th:src="@{/images/circolo.png}" id="immagineCircolo" src="../static/circolo.png"/>
                </div>
                <div class="informazione">
                    <div th:text="#{descrizioneCircolo}" id="descrizione">Il circolo si espande in una delle zone più verdi di Roma sud e presenta una vasta gamma di campi differenti in cui poter giocare.</div>
                </div>
            </div>
         </div>
    </section>
    <footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>