<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{header.prenotazione})"></head>
  <body>
    
    <!--header della pagina-->
    <header th:replace="fragments/base.html :: header"></header>
    
    <section>

        <form th:action="@{/addPrenotazione}" method="POST" th:object="${prenotazione}">

        <!--contenitore informazioni prenotazione-->
        <div id="contenitorePrenotazione" class="prenotazioneOrizzontale">

            <!--contenitore informazioni prenotazione-->
            <div class="prenotazioneVerticale" class="contenitore">
                
                <!--testo prenotazione-->
                <div id="titoloPrenotazione" class="infoPrenotazioni">PRENOTA IL CAMPO
                </div>

                <div id="informazioniPrenotazioni" class="infoPrenotazioni">ti invieremo un email di conferma.
                    il numero di telefono è necessario per sicurezza</div>
                <!--informazioni prenotazione-->
                <div id="riepilogoPrenotazione">
                    Hai selezionato il campo: 1
                    <div id="prezzo">Prezzo: 5€</div>
                    <button type="submit">PRENOTA</button>
                </div>

            </div>

            <!--form prenotazione-->
            <div th:object="${utente}" id="formPrenotazione" class="prenotazioneVerticale" class="contenitore">
                
                <!--form nome e cognome-->
                <div id="formNomeCognome" class="prenotazioneOrizzontale" class="elementoForm">

                    <div class="elementoNomeCognome">
                        <div>Nome *</div>
                        <div>
                            <input minlength="2" th:field="*{nome}" class="inputMedio" type="text"
                            name="nome">
                        </div>
                    </div>

                    <div class="elementoNomeCognome" class="prenotazioneVerticale">
                        <div>Cognome *</div>
                        <input minlength="2" th:field="*{cognome}" class="inputMedio" type="text" name="cognome">
                    </div>

                </div>

                <!--form email-->
                <div class="elementoMailTele" class="prenotazioneOrizzontale">

                    <div  class="elementoForm" class="prenotazioneVerticale">
                        <div>Email *</div>
                        <input th:field="*{email}" class="inputLungo" type="text"
                        name="email">
                    </div>

                </div>

                <!--form numero di telefono-->
                <div class="elementoMailTele" class="prenotazioneOrizzontale">

                    <div class="elementoForm" class="prenotazioneVerticale">
                        <div>Telefono *</div>
                        <input minlength="10" maxlength="10" 
                         th:field="*{telefono}" class="inputLungo" type="text"
                         name="telefono"/>
                    </div>

                </div>

                <!--form data-->
                <div id="formData" class="prenotazioneVerticale">

                    <div id="data" class="prenotazioneOrizzontale">Data</div>

                    <div class="prenotazioneOrizzontale" class="elementoForm">
                        <!-- form giorno-->
                        <div class="prenotazioneVerticale">
                            <div>
                                <input maxlength="2"
                                 th:field="*{giorno}" class="inputPiccolo" type="text"
                                 name="giorno"/>
                                <div>DD*</div>
                            </div>
                        </div>

                        <!-- form mese-->
                        <div>
                            <input maxlength="2" th:field="*{mese}" class="inputPiccolo" type="text"
                            name="mese"/>
                            <div>MM*</div>
                        </div>

                        <!-- form anno-->
                        <div>
                           <input maxlength="4"
                            minlength="4"
                            th:field="*{anno}" class="inputPiccolo" type="text"
                            name="anno"/>
                            <div>YYYY*</div>
                        </div>

                    </div>

                </div>

                <!--form orario-->
                <div class="prenotazioneOrizzontale" class="elementoForm">

                    <!--form ora inizio-->
                    <div class="elementoForm">
                        <input max="2" 
                        th:field="*{oraInizio}" class="inputPiccolo" type="text"
                        name="hinizio"/>
                        <div>h inizio*</div>
                    </div>

                    <!--form ora fine-->
                    <div class="elementoForm">
                        <input maxlength="2" 
                         th:field="*{oraFine}" class="inputPiccolo" type="text" 
                         name="hfine"/>
                        <div>h fine*</div>
                    </div>
                    
                </div>


            </div>

        </div>
    </form>
     
    </section>
    
    <!--footer della pagina-->
    <footer th:replace="fragments/base.html :: footer"></footer>
    
  </body>
</html>