<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/navbar.css}" rel="stylesheet">
	<link th:href="@{/css/globalStyle.css}" rel="stylesheet">
	<link th:href="@{/css/navbar741.css}" rel="stylesheet">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;700&display=swap}" rel="stylesheet"> 
	<link th:href="@{https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap}" rel="stylesheet"> 
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<nav id="navbar">
     		<div id="titoloCircolo" class="elementoNav">CIRCOLO FUTSAL FUJI</div>
      		<ul id="menu" class="elementoNav">
        		<li class="nav_link"><a th:href="@{/}">Home</a></li>
        		<li class="nav_link" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/default}" th:text="#{gestisci}">Gestisci</a></li>
        		<li class="nav_link"><a th:href="@{/campi}" th:text="#{campi}">Campi</a></li>
        		<li class="nav_link"><a href="#footer" th:text="#{contatti}">Contatti</a></li>
      		</ul>
    	</nav>
	</header>
	<footer id="footer" th:fragment="fondo" th:object="${circolo}">
		<div >Via evodia 11, Roma</div>
		<div class="separatore"></div>
		<div >+06 58765543</div>
		<div class="separatore"></div>
		<div >futsalfuji@gmail.com</div>
		<div class="separatore"></div>
		<a th:text="#{ ${#authorization.expression('hasAnyAuthority(''ADMIN'')')} ? 'gestore.logout' : 'gestore.login'}"
        th:href="@{ ${#authorization.expression('hasAnyAuthority(''ADMIN'')')} ? '/logout' : '/login'}">Login gestore</a>
	</footer>
</body>
</html>