<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.gestoreCampo})"></head>

<head>
	<link th:href="@{/css/campoform.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section>
	<h1>AGGIUNGI CAMPO</h1>
	<form th:action="@{/admin/aggiungiCampo}" method="POST" enctype="multipart/form-data" th:object="${campo}">
		<div id="form">
			<div class="container-field">
				<span>
					<div class="name-field" th:text="#{campo.lunghezza}">
						Lunghezza
					</div>
					<input type="number" th:field="*{lunghezza}"/>
				</span>
				<span class="errori" th:if="${#fields.hasErrors('lunghezza')}" 
                	th:errors="*{lunghezza}" th:style="'color:red'">
                </span>
			</div>
            <div class="container-field">
                <span>
                	<div class="name-field" th:text="#{campo.larghezza}">
                	Larghezza
                	</div>
                	<input type="number" th:field="*{larghezza}"/>
                </span>
                <span class="errori" th:if="${#fields.hasErrors('larghezza')}" 
                	th:errors="*{larghezza}" th:style="'color:red'">
                </span>
			</div>
			<div class="container-field">
				<span>
                	<div class="name-field" th:text="#{campo.tipoCampo}">
                	Tipo Campo
                	</div>
                	<div>
                		<input class="radio" id="outdoor" type="radio" name="tipoCampo" value="Outdoor" th:field="*{tipoCampo}"/>
                		<label for="outdoor">Outdoor</label>
                	</div>
                	<div>
                		<input class="radio" id="indoor" type="radio" name="tipoCampo" value="Indoor" th:field="*{tipoCampo}"/>
                		<label for="indoor">Indoor</label>
                	</div>
               	</span>
               	<span class="errori" th:if="${#fields.hasErrors('tipoCampo')}" 
               		th:errors="*{tipoCampo}" th:style="'color:red'">
               	</span>
			</div>
            <div class="container-field">
            	<span>
                	<div class="name-field" th:text="#{campo.tipoTerreno}">
                	Tipo terreno
                	</div>
                	<select type="text"  th:field="*{tipoTerreno}">
                		<optgroup label="Outdoor Sintetico">
                		<option th:value="#{campo.tipoTerreno.sintetico1}" value="Sintetico" th:text="#{campo.tipoTerreno.sintetico1}" selected>Sintetico prima gen.</option>
                		<option th:value="#{campo.tipoTerreno.sintetico2}" value="Sintetico" th:text="#{campo.tipoTerreno.sintetico2}">Sintetico seconda gen.</option>
                		<option th:value="#{campo.tipoTerreno.sintetico3}" value="Sintetico" th:text="#{campo.tipoTerreno.sintetico3}">Sintetico terza gen.</option>
                		<option th:value="#{campo.tipoTerreno.sintetico4}" value="Sintetico" th:text="#{campo.tipoTerreno.sintetico4}">Sintetico quarta gen.</option>
                		</optgroup>
                		<optgroup label="Indoor">
                		<option value="Parquet">Parquet</option>
                		<option value="Gomma" th:text="#{campo.tipoTerreno.gomma}">Gomma</option>
                		<option value="PVC">PVC</option>
                		</optgroup>
                	</select>
                </span>
                <span class="errori" th:if="${#fields.hasErrors('tipoTerreno')}" 
                	th:errors="*{tipoTerreno}" th:style="'color:red'">
                </span>
            </div>
            <div class="container-field">
            	<span>
                	<div class="name-field" th:text="#{campo.prezzo} + '/h'">
                	Prezzo
                	</div>
                	<input type="number" min="0" th:field="*{prezzo}"/>
                </span>
                <span class="errori" th:if="${#fields.hasErrors('prezzo')}" 
                	th:errors="*{prezzo}" th:style="'color:red'">
                </span>
             </div>
             <div class="container-fiels">
             	<span>
             		<div class="name-field" th:text="#{campo.numero}">Numero campo</div>
             		<input type="number" min="0" th:field="*{id}"/>
             	</span>
             	<span th:if="${#fields.hasGlobalErrors()}">
             		<div class="errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}"
             		th:style="'color:red'"></div>
             	</span>
             </div>
		</div>
		<div id="right-form">
        	<h3>Aggiungi due immagini del campo</h3>
        	<input class="right-form-item" type="file" name="image1" accept="image/png, image/jpeg"/>
        	<div class="errori" th:if="${#fields.hasErrors('img1')}" th:errors="*{img1}" th:style="'color:red'"></div>
            <input class="right-form-item" type="file" name="image2" accept="image/png, image/jpeg"/>
            <div class="errori" th:if="${#fields.hasErrors('img2')}" th:errors="*{img2}" th:style="'color:red'"></div>
            <button type="submit">Salva</button>
        </div>
   		</form>
    </section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>