<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.gestoreCampo})"></head>

<head>
	<link th:href="@{/css/campoform.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section>
	<h1>AGGIUNGI CAMPO</h1>
	<form th:action="@{/admin/aggiungiCampo}" method="POST" enctype="multipart/form-data" th:object="${campo}"}>
		<!--Per dire al browser che è una form che contiene un file upload-->
		<div id="form">
			<div class="container-field">
				<span>
					<div class="name-field" th:text="#{campo.lunghezza}">
						Lunghezza
					</div>
					<input type="number" min="25" max="42" th:field="*{lunghezza}"/>
				</span>
				<span th:if="${#fields.hasErrors('lunghezza')}" 
                	th:errors="*{lunghezza}" th:style="'color:red'">
                </span>
			</div>
            <div class="container-field">
                <span>
                	<div class="name-field" th:text="#{campo.larghezza}">
                	Larghezza
                	</div>
                	<input type="number" min="15" max="25" th:field="*{larghezza}"/>
                </span>
                <span th:if="${#fields.hasErrors('larghezza')}" 
                	th:errors="*{larghezza}" th:style="'color:red'">
                </span>
			</div>
			<div class="container-field">
				<span>
                	<div class="name-field" th:text="#{campo.tipoCampo}">
                	Tipo Campo
                	</div>
                	<div>
                		<input class="radio" id="outdoor" type="radio" name="tipoCampo" value="outdoor" th:field="*{tipoCampo}" required/>
                		<label for="outdoor">Outdoor</label>
                	</div>
                	<div>
                		<input class="radio" id="indoor" type="radio" name="tipoCampo" value="indoor" th:field="*{tipoCampo}"/>
                		<label for="indoor">Indoor</label>
                	</div>
               	</span>
               	<span th:if="${#fields.hasErrors('tipoCampo')}" 
               		th:errors="*{tipoCampo}" th:style="'color:red'">
               	</span>
			</div>
            <div class="container-field">
            	<span>
                	<div class="name-field" th:text="#{campo.tipoTerreno}">
                	Tipo terreno
                	</div>
                	<select type="text"  th:field="*{tipoTerreno}" required>
                		<optgroup label="Outdoor Sintetico">
                		<option value="sintetico" th:text="#{campo.tipoTerreno.sintetico1}" selected>Sintetico prima gen.</option>
                		<option value="sintetico" th:text="#{campo.tipoTerreno.sintetico2}">Sintetico seconda gen.</option>
                		<option value="sintetico" th:text="#{campo.tipoTerreno.sintetico3}">Sintetico terza gen.</option>
                		<option value="sintetico" th:text="#{campo.tipoTerreno.sintetico4}">Sintetico quarta gen.</option>
                		</optgroup>
                		<optgroup label="Indoor">
                		<option value="parquet" >Parquet</option>
                		<option value="gomma" th:text="#{campo.tipoTerreno.gomma}">Gomma</option>
                		<option value="pvc">PVC</option>
                		</optgroup>
                	</select>
                </span>
                <span th:if="${#fields.hasErrors('tipoTerreno')}" 
                	th:errors="*{tipoTerreno}" th:style="'color:red'">
                </span>
            </div>
            <div class="container-field">
            	<span>
                	<div class="name-field" th:text="#{campo.prezzo} + '/h'">
                	Prezzo
                	</div>
                	<input type="number" min="0" th:field="*{prezzo}"/>
                </span>
                <span th:if="${#fields.hasErrors('prezzo')}" 
                	th:errors="*{prezzo}" th:style="'color:red'">
                </span>
             </div>
		</div>
		<div id="right-form">
        	<h3>Aggiungi due immagini del campo</h3>
        	<input class="right-form-item" type="file" name="image1" accept="image/png, image/jpeg"/>
        	<div th:if="${#fields.hasErrors('img1')}" th:errors="*{img1}" th:style="'color:red'"></div>
            <input class="right-form-item" type="file" name="image2" accept="image/png, image/jpeg"/>
            <div th:if="${#fields.hasErrors('img2')}" th:errors="*{img2}" th:style="'color:red'"></div>
            <button type="submit">Salva</button>
        </div>
   		</form>
    </section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>