section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

img {
	width: 50%;
}

#errore-text {
	margin-top: 50px;
	font-size: calc(1rem + 1vw);
	text-transform: uppercase;
}