footer{
	height: 150px;
	width: 100%;
	font-size: calc(0.4rem + 1vw);
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#containerFooter{
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0% 15%;
}

.divisorio{
	font-size: calc(1rem + 1vw);
}
