@media all and (max-width: 741px) {

	.prezzo {
		width: 100%;
	}
}

@media all and (max-width: 584px) {
	.item {
		display: grid;
		grid-template-rows: auto auto;
	}

	.item > img {
		width: 100%;
		grid-row-start: 0;
		grid-row-end: 1;
	}

	.info-campo {
		padding-right: 0;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.info-campo-item {
		margin-top: 5%;	
	}

	.button {
		height: 8vw;
		width: 99%;
		text-align: center;
	}
}