@media(max-width: 700px){

#sezioneImmagine{
	margin-top: 60px;
}

#sezioneCentrale{
	width: 40%;
	height: 5%;
	margin: 5% 30%;
}

button{
	width: 20%;
}

#prenotaUnCampo{
	height: 6%;
	max-height: 45px;
	min-height: 30px;
}
}