/*table of contents
  1. globalStyles
  2. NavigationBar
  3. Footer
*/

/*bone*/

html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	background-color: black;
	color: white;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0 10%;
}

header {
	top: 0;
	height: 15vh;
}


/*=======
  NavBar
  =======
*/
#navbar {
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	position: fixed;
	width: 80%;
	background-color: black;
}

#titoloCircolo {
	font-family: 'Bebas Neue', cursive;
  	font-size: calc(1rem + 4vw);
}

#menu {
	font-size: calc(0.5rem + 1vw);
}

#menu a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#menu > li {
	position: relative;
	padding-bottom: 0;
	cursor: pointer;
	display: inline;
	margin-left: calc(1rem + 1.8vw);
	
}

.nav_link:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 2px;
	transition: width 150ms ease-in;
	background-color: white;
	border-radius: 30px;
}

.nav_link:hover:before {
	width: 100%;
}

/*=======
  Footer
  =======
*/

footer .separatore {
	width: 1px;
	height: 20px;
	background-color: white;
}


footer {
	height: 10vw;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}